.icround-lock-icon {
  position: absolute;
  top: 225px;
  left: 150px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  object-fit: cover;
}
.new-passsword,
.old-password {
  position: absolute;
  font-weight: 600;
}
.old-password {
  border: 1px solid var(--color-darkorange);
  outline: 0;
  font-family: var(--font-open-sans);
  font-size: var(--font-size-xs);
  background-color: var(--color-white);
  top: 315px;
  left: 32px;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 296px;
  height: 40px;
  padding: var(--padding-xs) var(--padding-5xl);
  color: var(--color-dimgray);
}
.new-passsword {
  top: 12px;
  left: 24px;
}
.confrim-password,
.new-password {
  position: absolute;
  top: 367px;
  left: 32px;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkorange);
  box-sizing: border-box;
  width: 296px;
  height: 40px;
}
.confrim-password {
  top: 419px;
}
.change-password1,
.submit {
  position: absolute;
  top: 285px;
  left: 118px;
  font-family: var(--font-poppins);
  color: var(--color-darkorange);
}
.submit {
  top: 12px;
  left: 114px;
  font-size: var(--font-size-lg);
  font-family: var(--font-open-sans);
  color: var(--color-white);
  text-align: left;
}
.submit-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkorange);
  position: absolute;
  top: 471px;
  left: 31px;
  border-radius: var(--br-6xl);
  width: 296px;
  height: 40px;
}
.change-password {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  font-family: var(--font-open-sans);
}
